<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss(0)">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            {{ pageName }}
        </ion-title>

        <ion-buttons end>
            <button ion-button (click)="captureImage()">
                <ion-icon name="camera"></ion-icon>
            </button>
        </ion-buttons>        
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="submitForm()">
        <ion-list>

            <ion-card *ngIf="tmpImage != 0">
                <img src="{{ tmpImage }}"/>
            </ion-card>

            <ion-item>
                <ion-label color="primary" stacked>What's that?</ion-label>
                <ion-input class="black-placeholder" type="text" value="{{ expenses.name }}" [(ngModel)]="expenses.name" name="name" placeholder="{{ default_placeholder }}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" stacked>How much?</ion-label>
                <ion-input type="number" value="{{ expenses.amount }}" [(ngModel)]="expenses.amount" name="amount" placeholder="0.00"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" stacked>How frequent?</ion-label>
                <ion-select [(ngModel)]="expenses.freq" name="freq" (ionChange)="onSelectChange($event);" interface="action-sheet">
                    <ion-option value="0">One time</ion-option>
                    <ion-option value="1">Reserved fund</ion-option>
                    <ion-option value="2">Daily</ion-option>
                    <ion-option value="3">Weekly</ion-option>
                    <ion-option value="4">Monthly</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="selected_freq != 0 && selected_freq != 1">
              <ion-label color="primary" stacked>Start since?</ion-label>
              <ion-datetime displayFormat="DD MMM" min="{{ tripStart }}" max="{{ tripEnd }}" [(ngModel)]="expenses.freq_start" name="freq_start"></ion-datetime>
            </ion-item>

            <ion-item *ngIf="selected_freq != 0 && selected_freq != 1">
              <ion-label color="primary" stacked>Until when?</ion-label>
              <ion-datetime displayFormat="DD MMM" min="{{ tripStart }}" max="{{ tripEnd }}" [(ngModel)]="expenses.freq_end" name="freq_end"></ion-datetime>
            </ion-item>   

        </ion-list>

        <div padding>
            <button ion-button full padding color="primary" type="submit">Save</button>
        </div>
    </form>
</ion-content>
