page-about {

}

ion-title{
    text-align: center;
}

ion-item{
    float: left;

    h2{
        font-size: 5rem;
    }

    .freq{
        font-size: 70%;
        color: #6C7A89;
    }

    .datetime{
        font-size: 80%;
        display: block;
        color: #446CB3;
    }
}

.price{
    text-align: right;
    font-size: 3rem;
}