page-about {

}

ion-item{
    float: left;

    h2{
        font-size: 120%;
    }

    .freq{
        font-size: 70%;
        color: #6C7A89;
    }

    .datetime{
        font-size: 80%;
        float: right !important;
        display: block;
        color: #446CB3;
    }
}

.price{
    font-size: 150%;
    text-align: center;
}