page-about {
    letter-spacing: 0.5px;

    ion-title{
        text-align: center;
    }

    ion-card{

        float: left;

        h2{
            font-size: 3.75rem;
        }

        .freq{
            font-size: 70%;
            color: #6C7A89;
        }

        .datetime{
            padding-top: 10px;
            font-size: 80%;
            display: block;
            color: #446CB3;
        }

        .price{
            float:right !important;
            vertial-align: middle;
            text-align: right;
            font-size: 2.25rem;
            top:18px;
            right: 10px;
            position: absolute;
            color: #2ecc71;
        }

    }    

    .emptyMsg{
        text-align: center;
        font-size: 1.85rem;
    }
}