<ion-header>
    <ion-navbar>
        <ion-title>
            Expenses
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card color="light" ng-if="expensesList.length > 0" *ngFor="let expenses of expensesList" (click)="presentActionSheet(expenses)" padding>
        <ion-item>
            <h2>
                {{ expenses.name }} <span class="freq">{{ freqMap[expenses.freq] }}</span>
                <span class="datetime">{{ expenses.datetime }}</span>
            </h2>
            <p class="price">{{ display_currency }}{{ expenses.amount }}</p>
        </ion-item>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="danger" (click)="gotoManage('-1', [])"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
