page-home {
    
    h2 {
        font-size: 2.25rem;
        text-align: center;
    }

    .extra{
        font-size: 3rem;
        font-weight: bold;
    }

    .days{
        font-size: 2.2rem;
    }    

    .lbl{
        font-size: 2.1rem;
        font-weight: bold !important;
    }

    .currency{
        font-size:2.4rem;

    }

    p{
        text-align: center;
        font-size: 1.85rem;
    }

    img {
        border-radius: 25px;
        object-fit: cover;
        width: 50px !important;
        height: 50px !important;
        text-align: right;
        margin-right: 8px !important;
        padding-right: 0px !important;
    }

    .bubble{
        margin-top: 10px !important;
        text-align: left;
        border-radius: 15px;
        background-color: #488aff;
        color: #fff;
        padding: 10px 10px 10px;
        font-size: 1.5rem;
    }

    #progressbar {
        background-color: #d9d9d9;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
    }

    #progressbar > div {
        background-color: #488aff;
        height: 5px;
        border-radius: 10px;
    }

    #progressbar2 {
        background-color: #d9d9d9;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
    }

    #progressbar2 > div {
        background-color: #488aff;
        height: 5px;
        border-radius: 10px;
    }

    .ion-icon{
        margin-left: 8px !important;
    }

    div{
        margin-left: 0px !important;
    }

 
}