<ion-header>
    <ion-navbar>
        <!--
        <ion-buttons start>
            <button *ngIf="tot_budget" ion-button (click)="gotoImage()">
                <ion-icon name="camera"></ion-icon>
            </button>
        </ion-buttons>-->

        <ion-title>Dashboard</ion-title>

        <ion-buttons end>
            <button ion-button color="secondary" (click)="gotoSetting()">
                <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list *ngIf="tot_budget != 0">
        <ion-item-group (click)="gotoSetting()">
            <ion-list-header color="light">
                <span *ngIf="campaign_ended == 0">Trip's budget for {{ n_day }} days</span>
                <span *ngIf="campaign_ended == 1">Left overs</span>
                <ion-badge color="primary" item-end>{{ display_currency }}{{ tot_remaining }}</ion-badge>
            </ion-list-header>        
            <ion-item>
                <ion-icon item-start small color="{{ tot_color }}" ios="ios-alert" md="md-alert" class="ion-icon"></ion-icon>
                <div id="progressbar">
                    <div id="tot_bar"></div>
                </div>                 
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="campaign_ended == 0" (click)="navCtrl.parent.select(1);">
            <ion-list-header color="light">
                Daily budget
                <ion-badge color="primary" item-end>{{ display_currency }}{{ day_remaining }}</ion-badge>
            </ion-list-header>           
            <ion-item>
                <ion-icon item-start small color="{{ day_color }}" ios="ios-alert" md="md-alert" class="ion-icon"></ion-icon>
                <div id="progressbar2">
                    <div id="day_bar"></div>
                </div>                    
            </ion-item>
        </ion-item-group>    
    </ion-list>           
  
    <ion-item>
            <img src="assets/imgs/me.jpg" item-start />
            <p class="bubble" item-start>{{ greetMsg }}</p>
    </ion-item>

    <ion-item *ngIf="!tot_budget">
        <button ion-button color="secondary" (click)="gotoSetting()" padding block large>
            <ion-icon ios="ios-settings" md="md-settings"></ion-icon>&nbsp;Setup trip's budget
        </button> 
    </ion-item>    

    <ion-fab right bottom *ngIf="tot_budget">
        <button *ngIf="!newphotoFlag" ion-fab color="danger" (click)="quickAdd()">
            <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="newphotoFlag" ion-fab color="danger" (click)="gotoImage()">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>

    </ion-fab>    
</ion-content>
