page-home {
    
    h2 {
        font-size: 2.25rem;
    }

    .extra{
        font-size: 3rem;
        font-weight: bold;
    }

    .lbl{
        font-size: 2.1rem;
        font-weight: bold !important;
    }

    .currency{
        font-size:2.4rem;

    }

    p{
        font-size: 1.85rem;
    }
}