<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="gotoImage()">
                <ion-icon name="camera"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Dashboard</ion-title>

        <ion-buttons end>
            <button ion-button (click)="gotoSetting()">
                <ion-icon ios="ios-build" md="md-build"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>
    <p padding>{{ greetMsg }}</p>

    <ion-grid *ngIf="tot_budget != 0">
        <ion-row>
            <ion-col width-100>
                <ion-card color="primary" padding>
                    <p class="lbl" *ngIf="campaign_ended == 0">Daily Budget</p>
                    <p class="lbl" *ngIf="campaign_ended == 1">Left Overs</p>
                    <h2>
                        <span class="currency">{{ display_currency }}</span>
                        <span class="extra">{{ day_budget }}</span>
                        <span> x {{ n_day }} days</span>
                    </h2>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom>
        <button ion-fab color="danger" (click)="gotoManage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>    
</ion-content>
