<ion-header>
    <ion-navbar>

        <ion-buttons start>
            <button ion-button>
                <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
            </button>
        </ion-buttons>
        
        <ion-title>
            Expenses
        </ion-title>

        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>    
    <ion-segment [(ngModel)]="expenses_type" *ngIf="showSegment > 1">
        <ion-segment-button value="onetime" *ngIf="onetime" (click)="changeSwitchType('onetime')">
            One time
        </ion-segment-button>
        <ion-segment-button value="recurring" *ngIf="recurring" (click)="changeSwitchType('recurring')">
            Recurring
        </ion-segment-button>
        <ion-segment-button value="reserved" *ngIf="reserved" (click)="changeSwitchType('reserved')">
            Reserved
        </ion-segment-button>
    </ion-segment>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <p class="emptyMsg" *ngIf="!expenses_found();">You have no expenses at all!?</p>

    <div [ngSwitch]="expenses_type">
        <div *ngFor="let expenses of expensesList">
            <ion-list *ngSwitchCase="getSwitchType(expenses.freq)" (click)="presentActionSheet(expenses)">

                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="delete(expenses)">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </ion-item-options>

                <ion-item>            
                    <ion-thumbnail item-start>
                        <div class="image" style="background-image:url('../{{ expenses.image }}');" imageViewer="{{ expenses.image }}" *ngIf=" expenses.image != 0 "></div>
                        <div class="image" style="background-image:url('../assets/imgs/default.png');" imageViewer="assets/imgs/default.png" *ngIf=" expenses.image == 0 "></div>
                    </ion-thumbnail>
                    <h2>{{ expenses.name }}</h2>
                    <p>{{ freqMap[expenses.freq] }} • {{ expenses.timeago }}</p>
                    <!--<button (click)="gotoManage(expenses.id)" ion-button clear item-end>{{ display_currency }}{{ expenses.amount }}</button>-->
                    <h2 class="money" item-end>{{ display_currency }}{{ expenses.amount }}</h2>
                    <div class="box"></div>
                </ion-item>
            </ion-list>
        </div>
    </div>


    <ion-fab right bottom>
        <button ion-fab color="danger" (click)="gotoManage('-1')"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-footer *ngIf="tot_expenses != 0">
        <h2>Total: {{ display_currency }}{{ tot_expenses }}</h2>
    </ion-footer>
</ion-content>

