<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button color="dark" ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="tot_expenses != 0">Total {{ display_currency }}{{ tot_expenses }}</span>
            <span *ngIf="tot_expenses == 0">Expenses</span>
        </ion-title>
        <!--
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
            </button>
        </ion-buttons>
        -->
    </ion-navbar>
</ion-header>

<ion-content>    
    <ion-segment [(ngModel)]="expenses_type" *ngIf="showSegment > 1">
        <ion-segment-button value="onetime" *ngIf="onetime" (click)="changeSwitchType('onetime')">
            One time ({{ onetime }})
        </ion-segment-button>
        <ion-segment-button value="recurring" *ngIf="recurring" (click)="changeSwitchType('recurring')">
            Recurring ({{ recurring }})
        </ion-segment-button>
        <ion-segment-button value="reserved" *ngIf="reserved" (click)="changeSwitchType('reserved')">
            Reserved ({{ reserved }})
        </ion-segment-button>
    </ion-segment>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p class="emptyMsg" *ngIf="!expenses_found();">You have no expenses at all!?</p>

    <div [ngSwitch]="expenses_type">
        <ion-list *ngFor="let expenses of expensesList; let idx=index;">
            <div *ngSwitchCase="getSwitchType(expenses.freq)">
                <ion-list-header *ngIf="previousDiff(expenses, idx)">
                    {{ daySince(expenses.datetime) }}
                </ion-list-header>            
                <ion-item (click)="notReserved(expenses)" no-lines>
                    <ion-thumbnail item-start>
                        <img src="{{ expenses.image }}" imageViewer *ngIf=" expenses.image != 0 " />
                        <img src="{{ expenses.thumbnail }}" imageViewer *ngIf=" expenses.image == 0 " />
                    </ion-thumbnail>
                    <h2>{{ getThumbnailName(expenses.name, expenses.thumbnail) }}</h2>
                    <p>{{ freqMap[expenses.freq] }} • {{ expenses.timeago }}</p>
                    <h2 class="money" item-end>{{ display_currency }}{{ expenses.amount }}</h2>
                </ion-item>
            </div>
        </ion-list>
    </div>

    <ion-fab right bottom *ngIf="tot_budget">
        <button *ngIf="!newphotoFlag" ion-fab color="danger" (click)="quickAdd(0)">
            <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="newphotoFlag" ion-fab color="danger" (click)="gotoManage('-1')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>            
        </button>        
    </ion-fab>
</ion-content>

